{% extends "layout.html" %}
{% block main %}
<div class="jumbotron">
    <div class=container-fluid>
        
        <br><br><br><br><br><br><br>
        <h1 class="display-4 text-center">月旦搜尋</h1>
        <p class="lead text-center">強化月旦搜尋 讓你同時搜尋不同關鍵字 </p>
        <hr class="my-4">
        <p class="text-center">不太聰明的機器學習分辨標題為民法或刑法或其他</p>
        <form action="/search" method="POST" id="form" name="form">
            <div class="container">
                <div class="row justify-content-center">
                    <input type="text" placeholder="Search" class="form-control w-50" name="search">
                </div>
            </div>
        <br>
            <div class="text-center">
                <button class="btn btn-primary btn-lg" onclick="check()" type="button">搜尋!</button>
            </div>
        </form>

        <br><br><br><br><br><br><br>
    </div>
</div>

<script>
    function check(){
        const form = document.forms['form'];
        var search = form.search.value;

        if (search != '')
        {
            document.getElementById('form').submit();
        }
    }

</script>
{% endblock %}

